.todoitem {
    display: block;
    justify-content: center;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 1em;
    padding: 1rem;
    margin-bottom: 1em;
    position: relative;
    box-shadow: 0 0 1em grey;
}

.todoitem h3 {
    padding-bottom: .2em;
    border: none;
    border-bottom: solid 1px lightgrey;
}

.deleteItem {
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
}

@media only screen and (min-width: 920px) {
    .todoitem {
        width: 50%;
        margin-bottom: 2em;
    }
}